.header {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 12px;

        .title {
            display: flex;
            div {
                position: relative;
                h1 {
                    font-weight: 700;
                    margin: 0;
                    font-size: 30px;

                    @media (max-width: 1200) {
                        font-size: 20px;
                    }

                    @media (max-width: 700) {
                        display: none;
                    }
                }

                span {
                    position: absolute;
                    top: 36px;
                    left: 4px;
                    color: grey;
                    font-size: 15px;
                    white-space: nowrap;

                    @media (max-width: 1200) {
                        font-size: 10px;
                        top: 28px;
                    }

                    @media (max-width: 700) {
                        display: none;
                    }
                }
            }
        }

        .personal-best {
            display: flex;

            img {
                margin-right: 4px;
            }

            div {
                display: flex;
                align-items: center;
                color: grey;

                h5 {
                    margin-right: 4px;
                    @media (max-width: 500) {
                        display: none;
                    }
                }

                span {
                    color: white;
                    margin-left: 4px;
                }

            }
        }
    }
}