.main {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
  flex: 1;

  .hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .utility {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .data {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        div {
          color: grey;
          font-size: 1.4rem;
          span {
            color: white;
            font-weight: 700;
            margin-left: 4px;
          }
        }
      }

      .settings {
        display: flex;
        gap: 12px;
        .button {
          font-size: 12px;
          height: auto;
          width: auto;
          padding: 4px 8px;
          border-radius: 8px;
          border: 1px grey solid;
          background: transparent;
          cursor: pointer;

          &.selected {
            border: 1px solid hsl(214, 100%, 55%);
            color: hsl(214, 100%, 55%);
          }

          &:hover {
            border: 1px solid hsl(214, 100%, 55%);
            color: hsl(214, 100%, 55%);
          }

          &:active {
            border: 1px solid hsl(215, 60%, 38%);
            color: hsl(214, 62%, 39%);
          }
        }

        .difficulty {
          display: flex;
          align-items: center;
          gap: 8px;
          div {
            color: grey;
          }
        }

        .mode {
          display: flex;
          align-items: center;
          gap: 8px;
          div {
            color: grey;
          }
        }
      }
    }
  }

  .typing-area {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 36px;
    user-select: none;

    .start-screen {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-weight: 700;
      top: 30%;
      z-index: 10;
    }

    .text {
      overflow-y: auto;
      width: 100%;
      height: 500px;

      @media (max-height: 950px) {
        height: 400px;
      }

      @media (max-height: 800px) {
        height: 300px;
      }
    }

    span {
      margin-top: 50px;
      font-size: 2.3rem;

      &.correct {
        color: hsl(140, 63%, 57%);
      }

      &.incorrect {
        color: hsl(354, 63%, 57%);
        text-decoration: underline;
      }

      &.current {
        background-color: #333333;
        animation: cursor-blink 1.5s ease infinite;

        @keyframes cursor-blink {
          0% {
            background-color: #333333;
          }
          50% {
            background-color: transparent;
          }
          100% {
            background-color: #333333;
          }
        }
      }
    }

    .blur-text {
      filter: blur(8px);
      transition: filter 0.3s ease-in-out;
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 150px;
      gap: 24px;

      @media (max-width: 1200px) {
        position: relative;
        bottom: 0;
      }

      @media (max-height: 900px) {
        position: relative;
        bottom: 0;
      }

      .button {
        background-color: #262626;

        &:hover {
          background-color: #333333;
        }

        &:active {
          background-color: #1a1a1a;
        }
      }
    }
  }
}
