.main {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
  flex: 1;
}
.main .hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.main .utility {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main .utility .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .utility .top .data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main .utility .top .data div {
  color: grey;
  font-size: 1.4rem;
}
.main .utility .top .data div span {
  color: white;
  font-weight: 700;
  margin-left: 4px;
}
.main .utility .top .settings {
  display: flex;
  gap: 12px;
}
.main .utility .top .settings .button {
  font-size: 12px;
  height: auto;
  width: auto;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px grey solid;
  background: transparent;
  cursor: pointer;
}
.main .utility .top .settings .button.selected {
  border: 1px solid hsl(214, 100%, 55%);
  color: hsl(214, 100%, 55%);
}
.main .utility .top .settings .button:hover {
  border: 1px solid hsl(214, 100%, 55%);
  color: hsl(214, 100%, 55%);
}
.main .utility .top .settings .button:active {
  border: 1px solid hsl(215, 60%, 38%);
  color: hsl(214, 62%, 39%);
}
.main .utility .top .settings .difficulty {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main .utility .top .settings .difficulty div {
  color: grey;
}
.main .utility .top .settings .mode {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main .utility .top .settings .mode div {
  color: grey;
}
.main .typing-area {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  gap: 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .typing-area .start-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  top: 30%;
  z-index: 10;
}
.main .typing-area .start-screen button {
  cursor: pointer;
}
.main .typing-area .text {
  overflow-y: auto;
  width: 100%;
  height: 500px;
}
@media (max-height: 950px) {
  .main .typing-area .text {
    height: 400px;
  }
}
@media (max-height: 800px) {
  .main .typing-area .text {
    height: 300px;
  }
}
.main .typing-area span {
  margin-top: 50px;
  font-size: 2.3rem;
}
.main .typing-area span.correct {
  color: hsl(140, 63%, 57%);
}
.main .typing-area span.incorrect {
  color: hsl(354, 63%, 57%);
  text-decoration: underline;
}
.main .typing-area span.current {
  background-color: #333333;
  animation: cursor-blink 1.5s ease infinite;
}
@keyframes cursor-blink {
  0% {
    background-color: #333333;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: #333333;
  }
}
.main .typing-area .blur-text {
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}
.main .typing-area .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 150px;
  gap: 24px;
}
@media (max-width: 1200px) {
  .main .typing-area .bottom {
    position: relative;
    bottom: 0;
  }
}
@media (max-height: 900px) {
  .main .typing-area .bottom {
    position: relative;
    bottom: 0;
  }
}
.main .typing-area .bottom .button {
  background-color: #262626;
  cursor: pointer;
}
.main .typing-area .bottom .button:hover {
  background-color: #333333;
}
.main .typing-area .bottom .button:active {
  background-color: #1a1a1a;
}/*# sourceMappingURL=typingTest.module.css.map */